/*===============================================
=            Organism Product-detail            =
===============================================*/
#product-detail{
  height: 84vh;
}
.product-carousel{
	width:50%;
	float:left;
	.slider-item{

	 }
}
.product-content{
	width:50%;
	float:left;
	a{
		
	}
	header{
	}
	p{
		&.price{
		
		}
	}
	h1{
	
	}
	h2{
	
	}
	h1,h2{
		
	}
	footer{
		
		ul{
			
			li{
				
				i:before{
					
				}
			}
		}
	}
}