/*======================================
=            Gallery Custom            =
======================================*/
.gallery{

	p{
		
	}
	ul{
	
		li:nth-child(odd){
			padding-right:1em;
		}
		li:nth-child(even){
			padding-left:1em;
		}
	}
}

/*=======================================
=            Product Enquiry            =
=======================================*/

.product-equiry{
	padding-bottom:3em;
}

