footer#footer{
	display:inline-block;
	width:100%;
	@extend .p3;
	.container-top{
		padding: 3em 0;
		span:first-child{
			margin-right: 3em;
		}
		span{
			a{
				color:$text-color;
			}
		}
	}
	.container-bottom{
		padding: 4em 0;
		background-color: $blue;
		text-transform: uppercase;
		color: #fff;
	}
}