.owlCarousel{
	position:relative;
	.owl-next,
	.owl-prev{
		position:absolute;
		top:50%;
		z-index: 2;
		color:#fff;
	}
	.owl-next{
		right:10%;
	}
	.owl-prev{
		left:10%;
	}
	.owl-item{
		position:relative;
		.wrapper{
			display: none;
		}
		&:after{
			content: "";
			background-color: rgba(255,255,255,0.5);
			position:absolute;
			top:0;
			width:100%;
			height: 100%;
			left:0;
			
		}
		&.active.center{
			.wrapper{
				display: block;
			}
			&:after{
				background-color: transparent;
				
			}
		}
	}
	.slider-item{
	min-height: 34em;
  position: relative;
  background-size: cover;
  height: 100%;
	.wrapper{
    position: absolute;
    bottom: 16px;
    color:#fff;
    padding: 0px 4em;
    h2{
    	@extend .h5;
    	text-transform: uppercase;
    	margin-bottom: 0.5em;
    }
    p{
    	@extend .p3;
			line-height: 1.5;
    }
	}
}
}
