.product-carousel{
	 width:100%;
	 float: none;
	 position:relative;
	.slider-item{
		min-height: 84vh;
	  position: relative;
	  background-size: cover;
	  height: 100%;
	 }
	 .caption {
	    position: absolute;
	    bottom: 0;
	    text-align: center;
	    width: 100%;
	    color: #fff;
	    font-family: Arial,sans;
	 }
	div#owlDotContainer {
	    position: absolute;
	    bottom: 0px;
	    z-index: 999;
	    width: 100%;
	}

	div#owlDotContainer a {
	    padding: 1em;
	    background: $colour1;
	    border-radius: 0px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: bold;
	}
}