.product-content{
	width:100%;
	float:none;
	padding:6em;
	height:100%;
	position:relative;
	a{
		@extend .p1;
		text-transform: uppercase;
	}
	header{
    margin-top: 2em;
	}
	p{
		@extend .p1;
		&.price{
			@extend .p3;
			font-size: 1.5em;
			color:$blue;
		}
	}
	h1{
		@extend .h2;
		margin: 0;
		color:$blue;
	}
	h2{
		@extend .h5;
		color: #9A9A9A;
	}
	h1,h2{
		text-transform: uppercase;
		
	}
	footer{
		position:absolute;
		bottom:2em;
		div#shareBox {
		    padding: 0em;
		    background: $grey-background;
		    margin-bottom: 1em;
		 i {
		    font-size: 2em;
		    display: inline-block;
		    float: left;
		    color:$blue;
			line-height: 1em;
			text-transform: uppercase;
			margin-right: 0.2em; 
		}
		 a {
		    padding: 1em 1em 0.5em 1em;
		    display: inline-block;
		    color:$blue;
		    font-weight:bold;
		}
		}
		ul{
			margin:0;
			padding:0;
			list-style: none;
			li{
				display:inline-block;
				float:left;
				text-transform: uppercase;
				margin-right:2em; 
				color:$blue;
				a {
					color:$blue;
					&:hover {
						color:$blue-light;
					}
				}
				i:before{
					vertical-align: middle;
					font-size: 2em;
					margin-right: 0.5em;
				}
			}
		}
	}
}