.slider-item{
	min-height: 34em;
  position: relative;
  background-size: cover;
  height: 100%;
	.wrapper{
    position: absolute;
    bottom: 16px;
    color:#fff;
    padding: 0px 4em;
    h2{
    	@extend .h5;
    	text-transform: uppercase;
    	margin-bottom: 0.5em;
    }
    p{
    	@extend .p3;
			line-height: 1.5;
    }
	}
}