.social-contact{

    display: inline-block;
    float: right;
		
	ul{
		margin: 0;
		padding: 0.5em 0;
		list-style:none;
		li{
			@extend .p3;
			display:inline-block;
			float:left;
			color:#fff;
			margin-left:1em;
			i{
				font-size: 1.3em;
				vertical-align: middle;
			}
		}
		li:first-child{
			width:1.3em;
			overflow: hidden;
			height: 2em;
			transition: 0.3s width ease;
			a{
				color:#fff;
			}
			&:hover{
				width:10.5em;
				transition: 0.3s width ease;
			}
		}
	}
}