// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$colour1: #34495E;
$colour2: #22313F;
$colour3: #2898ce;
$colour4: #E4F1FE;
$colour5: #333333;

$grey-border:#D6D6D6;
$grey-background: #EBEBEB;
$grey-light: #F5F5F5;

$blue: $colour1;
$blue-dark: $colour2;
$blue-light: $colour3;
$blue-lighter: $colour4;
$text-color: $colour5;


$input-height: 56px;